/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root{
    --ion-color-secondary: #2e3191;
}

.searchbar-input.sc-ion-searchbar-ios{
    --background: white !important;
}

.native-textarea.sc-ion-textarea-md{
    height: 190px;
    
}  
.native-textarea.sc-ion-textarea-ios{
    height: 190px;
}

normalidad{
    text-align: center;
    font-size: medium;
    color: black;
}

#profile-photo {

    ion-avatar{
      display: flex;
      position: relative;
    }
    ion-avatar:before {
      content: "";
      position: absolute;
      inset: -1px;
      margin: 0.3rem;
      border-width: 0.2rem;
      border-style: solid;
      border-radius: 50%;
      border-color: #adadb8;
    }
    ion-avatar:after {
      content: "";
      position: absolute;
      inset: -1px;
      margin: 0.3rem;
      border-style: solid;
      border-radius: 50%;
      border-color: #2e3191;
      animation: rotate-circle;
      animation-duration: 1s;
      animation-iteration-count: 4;
    }
    ion-avatar img {
      width: 65%;
      height: 65%;
      margin: auto;
    }
  
    @keyframes rotate-circle {
      0%, 5%, 10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50%, 55%, 60%, 65%, 70%, 75%, 80%, 85%, 90%, 95% {
        border-left: 0.2rem;
        border-top: 0.2rem;
        border-bottom: 0.2rem;
      }
      0% {
        transform: rotate(10deg);
      }
      5%{
        transform: rotate(20deg);
      }
      10%{
        transform: rotate(40deg);
      }
      15%{
        transform: rotate(60deg);
      }
      20%{
        transform: rotate(80deg);
        border-color: #fee832;
      }
      25%{
        transform: rotate(100deg);
        border-color: #2e3191;
      }
      30%{
        transform: rotate(120deg);
      }
      35%{
        transform: rotate(140deg);
      }
      40%{
        transform: rotate(160deg);
      }
      45%{
        transform: rotate(180deg);
      }
      50%{
        transform: rotate(200deg);
        border-color: #fee832;
      }
      55%{
        transform: rotate(220deg);
        border-color: #2e3191;
      }
      60%{
        transform: rotate(240deg);
      }
      65%{
        transform: rotate(260deg);
      }
      70%{
        transform: rotate(280deg);
      }
      75%{
        transform: rotate(300deg);
      }
      80%{
        transform: rotate(320deg);
        border-color: #fee832;
      }
      85%{
        transform: rotate(340deg);
        border-color: #2e3191;
      }
      100%{
        transform: rotate(359deg);
      }
    }
}

#sub-header{
    display: flex;
    height: 40px;
    background-color: #2e3191;
    text-align: center;
    width: 100%;
    .contsub-header {
        font-size: 17px;
        font-weight: bold;
        margin: auto;
        color: #fff;
    }
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.alertaGlobal{
  text-align: center;
}

.alert-title{
  text-align: center;
}
/* .alert-button-group.sc-ion-alert-md{
  --ion-display: flex ;
  --ion-width: 100% ;
}
.alert-button.sc-ion-alert-md{
  --ion-margin: auto;
    --ion-font-size: 18px;
    --ion-font-weight: bold;
} */